{% extends "layout.html" %}
{% block content %}
  <div id="slideshow">
  	<div class="slide-wrapper">
  		<div class="slide"><h1 class="slide-number"></h1></div>
  		<div class="slide"><h1 class="slide-number"></h1></div>
  		<div class="slide"><h1 class="slide-number"></h1></div>
  		<div class="slide"><h1 class="slide-number"></h1></div>
  	</div>
  </div>


  
  <div class="jumbo">
    <h2>Welcome to Our Finance Portal!<h2>
    <h3>This is still a work in progress and currently does shit!<h3>
  </div>
  <div class="large">
    <h4>Dues</h4>
    <p>This year dues for the fall semester are $30.</p>
  </div>

{% endblock %}